<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Ueg</title>


</head>
<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text" style="color: #009688 !important; text-shadow: 2px 2px 8px #fff;">Election System</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern way to registering elections and counting votes from a third party system</h5>
        </div>
        <div class="row center">
          <a href="/elections/new" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/image1.png" alt="Unsplashed background img 1" style= "display: block;"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Easy and simple</h5>

            <p class="light">The purpose of this application is to register the elections, Uevs, voters and candidates, provide the data available to the Uevs and, in the end, count the votes of each system. All communication between Uevs will be done through Json, which will be explained in a topic below.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Uevs connection</h5>

            <p class="light">To connect to the Ueg system, Uev needs to have the identification code. All registration information will be available on the following routes. Change [uev] for your Uev token and [election] for the election code.</p>
            <p class="light">Get elections:</p>
            <p style="background-color: rgba(27,31,35,0.05);"><code>/api/[uev]/elections</code>
            <p class="light">Get candidates:</p>
            <p style="background-color: rgba(27,31,35,0.05);"><code>/api/[uev]/[election]/candidates</code>
            <p class="light">Get voters:</p>
            <p style="background-color: rgba(27,31,35,0.05);"><code>/api/[uev]/[election]/voters</code>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">How work with Ueg</h5>

            <p class="light">For Ueg to be able to count the votes of the election when it finished, is necessary to have registered the server of each Uev and this server must be working, otherwise, nothing will be counted. It is also necessary for Json of Uev follow the pattern described below.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="images/image-2.png" alt="Unsplashed background img 2" style= "display: block;"></div>
  </div>

  <div class="container">
    <div class="section">

      <h3 class="center mdi-content-send">Json's Pattern</h3>
      <div class="left-align light">
        <p>For both systems to work the Json is with this example pattern:</p>
        <h5>In Ueg system</h5>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="left-align light">
            <p>Get elections</p>
            <pre style="background-color: rgba(27,31,35,0.05);"><code>[
  {
    "code": "2017",
    "start_at": "30/10/2017 05:00:00",
    "finish_at": "30/10/2017 18:30:00"
  }
]</code></pre>
          <p>Get voters</p>
          <pre style="background-color: rgba(27,31,35,0.05);"><code>[
  {
    "name": "Maria Silva",
    "cpf": "27349273x"
  },
  {
    "name": "José Pereira",
    "cpf": "173929329"
  }
]</code></pre>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="left-align light">
            <p>Get candidates</p>
            <pre style="background-color: rgba(27,31,35,0.05);"><code>[
  {
    "name": "Bruce Wayne",
    "nickname": "Batman",
    "number": 99999,
    "position": {
      "name": "Presidente"
    }
  },
  {
    "name": "Clark Kent",
    "nickname": "SuperMan",
    "number": 1234,
    "position": {
      "name": "Governador"
    }
  }
]</code></pre>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="left-align light">
            <h5>In Uev system</h5>
            <p>Get votes</p>
            <pre style="background-color: rgba(27,31,35,0.05);"><code>[
  "ueg_code": "974638",
  "election_code": "2017",
  "votes": [
    {
      "cpf": "27349273x",
      "number": "99999",
      "timestamp": "30/10/2017 12:32:22"
    },
    {
      "cpf": "27349273x",
      "number": "1234",
      "timestamp": "30/10/2017 12:32:56"
    },
    {
      "cpf": "173929329",
      "nulo": "Presidente",
      "timestamp": "30/10/2017 13:17:08"
    },
    {
      "cpf": "173929329",
      "branco": "Governador",
      "timestamp": "30/10/2017 13:17:08"
    }
  ]
]</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://github.com/dinossaur23">Dinossaur23</a>
      </div>
    </div>
  </footer>
  </body>
</html>
